<div class="animate__animated animate__fadeIn animate__slow">
  <h3>
    Buscar por regiones <small>{{ regActiva | titlecase }}</small>
  </h3>
  <hr />

  <h5>Seleccione la región</h5>

  <div class="row">
    <div class="col">
      <!-- [class.active]="region === regActiva"
      [ngClass]="{
        'btn-primary': regActiva === region,
        'btn-outline-info': regActiva !== region
      }" -->
      <button
        *ngFor="let region of regiones"
        [class]="getClaseCSS(region)"
        (click)="activarRegion(region)"
      >
        {{ region | titlecase }}
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
